<%- include('./partials/header') %>

<h2> user.name </h2>

<% if ([post]) { %>
    <h3> <%= post.title %> </h3>
    <p><%= post.description %> </p>
    <img src="<%= post.fileName %>" alt="post-photos">
    <button></button>

} %>
<form action=""></form>


<h3>No posts yet, start uploading!</h3>

<%- include('./partials/footer') %>
  