<%- include('../partials/header') %>

<h2> user.name </h2>



<% if (isLoggedInHasPosts) { %>
    <h3> <%= post.title %> </h3>
    <p><%= post.description %> </p>
    <img src="<%= post.photo %>" alt="post-photos">
    <form action="">
        <button>ADD Content</button>
    </form>
<% } else { %>
    <h3>No posts yet, start uploading!</h3>
 <% } %>

<%- include('../partials/footer') %>