<%- include('../partials/header') %>
<h2>
    <%= user.name %>
</h2>
    <% if (isLoggedIn && hasPosts) { %>
        <% posts.forEach(post=> { %>
        <ul>
            <li><h3>
                <%= post.title %>
            </h3></li>
            <h4>
                <%= post.description %>
            </h4>
            <p>
                <%= post.content %>
            </p>
        </ul>
            <% }) %>
                <% } else if (isLoggedIn) { %>
                    <h3>No posts yet, start uploading!</h3>
                    <% } else { %>
                            <h3></h3>
                                <% } %>

                                    <%- include('../partials/footer') %>