<%- include('../partials/header') %>
<nav class="nav-style">
    <% if (user) { %>
      <a href="/logout" class="logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
        &nbsp; | &nbsp;
        <a href="/posts">Go Back</a>
  </nav>
  <main>
  <h1>epicure</h1>
    <div class="post-container">
        <h2 class="username">
            <%= post.user.name %>
        </h2>
        <h3>
            <%= post.title %>
        </h3>
        <h4>
            <%= post.description %>
        </h4>
        <a href="<%= post.link %>" target="_blank"><%= post.link %></a>
        <br></br>
        <img class="post-photo" src="<%= post.photo %>">
        <p>
            <%= post.content %>
        </p>
        <table>
            <thead>
                <tr>
                    <th><a href="/posts/<%= post._id %>/wishlist" id="wishlist-btn">
            <% if (post.wishlist) { %>
                &#9733;
                <% } else { %>
                    &#9734;
                    <% } %>
        </a></th>
        </tr>
        </thead>
        </table>

<% if (isLoggedIn && isAuthor) { %>
       <th> <form action="/posts/<%= post._id %>/edit">
            <button id="edit-btn" type="submit">Edit</button>
        </form>
    </th>
    <th>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button id="delete-btn" type="submit">DELETE</button>
        </form>
        <% } %>
    </th>

    <br>
        <% if (user) { %>
            <label>Comment:</label>
            <form action="/posts/<%= post._id %>/comments" method="POST">
                <textarea name="content"></textarea>
                <input id="comment-btn" type="submit" value="Add"></input>
            </form>
            <% } %>
                <br>

                <% if (post.comments.length) { %>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>User</th>
                                <th>Date</th>
                                <th>Comment</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% post.comments.forEach(function(comment) { %>
                                <tr>
                                    <td class="comment-user">
                                        <img id="avatar" src="<%= comment.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
                                        </td>
                                        <td>
                                        <%= comment.userName %>
                                    </td>
                                    <td>
                                        <%= comment.createdAt.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= comment.content %>
                                    </td>
                                    <% if (isLoggedIn && comment.user.equals(user._id)) { %>  
                                        <td>
                                            <form action="/comments/<%= comment._id %>/edit">
                                                <button type="submit" id="cm-edit-btn">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <button type="submit" id="cm-delete-btn">DELETE</button>
                                            </form>
                                        </td>
                                        <% } %>
                                    <% }) %>
                                </tr>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h3>No Comments Yet!</h3>
                        <% } %>

    </div>
    <%- include('../partials/footer') %>